@charset "UTF-8";
@font-face {
  font-family: "SF Display";
  font-weight: 400;
  src: url("../fonts/SF-UI-Display-Regular.otf");
}
@font-face {
  font-family: "SF Display";
  font-weight: 500;
  src: url("../fonts/SF-UI-Display-Medium.otf");
}
@font-face {
  font-family: "SF Display";
  font-weight: 600;
  src: url("../fonts/SF-UI-Display-Semibold.otf");
}
@font-face {
  font-family: "SF Display";
  font-weight: bold;
  src: url("../fonts/SF-UI-Display-Bold.otf");
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "SF Display";
  color: white;
  margin: 0;
  margin-right: 15px;
  overflow-x: hidden;
  font-weight: 400;
  font-size: calc(10px + .6vh);
  background: none;
  cursor: url("../img/cursor.png"), auto;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: inherit;
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
}
body h1 {
  font-size: 2.1em;
}
body h2 {
  font-size: 1.75em;
}
body h3 {
  font-size: 1.4em;
}
body h4 {
  font-size: 1.15em;
}
body h5 {
  font-size: 1em;
}
body h6 {
  font-size: 0.85em;
}
body a {
  outline: none;
  text-decoration: none;
  font-weight: 400;
  color: inherit;
  cursor: url("../img/pointer.png"), pointer;
}
body a:hover,
body a:focus {
  text-decoration: none;
  color: inherit;
  cursor: url("../img/pointer.png"), pointer;
}
body ul {
  margin: 0;
  padding: 0;
}
body li {
  list-style: none;
}
body img {
  border: none;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
}
body section {
  margin-left: -15px !important;
  margin-right: -15px !important;
}
body button:focus {
  outline: none;
}
body input:focus,
body select:focus {
  box-shadow: 0 0 0 0.2rem rgba(30, 116, 218, 0.5);
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background: #f1f1f1;
}
body::-webkit-scrollbar-thumb {
  background: #1E74DA;
}
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.overlay-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  display: none;
  background: rgba(0, 0, 0, 0.2);
}
.overlay-menu.overlay-in {
  display: block;
}

.one-page {
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.about-zone, .design-zone, .contact-zone, .seo-zone, .template-zone {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.pagination {
  position: fixed;
  right: -30px;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  font-size: 1.4em;
  z-index: 1005;
  width: 150px;
}
.pagination a {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-bottom: 5px;
  background: #ccc;
  position: relative;
  display: block;
  margin-right: 15px;
  border: 1px solid #ccc;
  cursor: url("../img/pointer.png"), pointer;
}
.pagination a:hover {
  background: none;
  border: 1px solid #1E74DA;
}
.pagination a:hover .hover-text {
  opacity: 1;
  top: 110px;
  visibility: initial;
}
.pagination a.active {
  background: none;
  border: 1px solid #1E74DA;
}
.pagination a.active .hover-text {
  opacity: 1;
  top: 110px;
  visibility: initial;
}
.pagination a .hover-text {
  position: absolute;
  right: -91px;
  top: 130px;
  opacity: 0;
  transition: 0.3s;
  padding-right: 15px;
  width: 200px;
  transform: rotate(-90deg);
  font-size: 14px;
  text-align: right;
  background: linear-gradient(0deg, #006ff0 0%, #00e0f0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  visibility: hidden;
}

.menu {
  position: fixed;
  width: 100%;
  right: 15px;
  top: 30px;
  z-index: 1005;
}
.menu .toggleMenu {
  cursor: pointer;
  display: none;
  color: white !important;
  margin: 10px 0;
  z-index: 10000;
  transition: 500ms;
}
.menu .toggleMenu i {
  font-size: 26px;
}
.menu .nav {
  display: block;
  text-align: right;
}
.menu .nav-close {
  display: none;
}
.menu .nav li {
  transition: 0.5s;
  display: inline-block;
}
.menu .nav li a {
  font-size: 14px;
  text-transform: uppercase;
  transition: 0.5s;
  color: white;
  padding: 0 15px;
  font-weight: 600;
}
.menu .nav li a.gray {
  color: #999;
}
.menu .nav li a.active {
  background: linear-gradient(0deg, #006ff0 0%, #00e0f0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu .nav li a:hover {
  color: #1E74DA;
}

.logo {
  position: fixed;
  height: 70px;
  left: 30px;
  top: 10px;
  z-index: 1005;
  cursor: url("../img/cursor.png"), auto;
}

.order {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 100px;
  height: 100px;
  background: linear-gradient(0deg, #006ff0 0%, #00e0f0 100%);
  border-radius: 50%;
  border: 2px solid transparent;
  border-top: 2px solid #00e0f0;
  border-bottom: 2px solid #006ff0;
  z-index: -1;
}
.order:hover {
  border: 2px solid #00e0f0;
  background: none;
}
.order:hover a {
  background: linear-gradient(0deg, #006ff0 0%, #00e0f0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.order a {
  position: absolute;
  width: 80%;
  height: 80%;
  font-weight: 600;
  top: 25px;
  left: 10px;
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  color: white;
  transition: 0.3s;
}

.title-page h1 {
  font-weight: bold;
  margin-bottom: 5vh;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5em;
}

.about {
  background-position: top;
}
.about:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: url("../img/bg-body-1.png") 0 0 repeat;
  transition: 10s;
  transform-origin: 0% 0% 0px;
}
.about:hover:before {
  transform: translate(-1%, -1%) scale(1.15);
}
.about-zone {
  width: 900px;
  text-align: center;
}
.about-zone h1 {
  margin-bottom: 10px;
  font-weight: 600;
}
.about-zone p {
  font-size: 3em;
  font-weight: bold;
}
.about-zone .service {
  margin-top: 8vh;
  display: grid;
  grid-template-columns: repeat(3, 30vh);
  justify-content: center;
  grid-gap: 5vh;
}
.about-zone .service .box-service-img {
  width: 30vh;
  height: 30vh;
  text-align: center;
  border: 2px solid #26C5D7;
  border-radius: 50%;
  position: relative;
  margin-bottom: 2vh;
}
.about-zone .service .box-service-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.design:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: url("../img/bg-body-2.png") 0 0 repeat;
  transition: 10s;
}
.design:hover:before {
  transform: translate(-1%, -1%) scale(1.15);
}
.design-zone {
  width: 1230px;
}
.design-zone .design-in {
  display: grid;
  grid-template-columns: 45% calc(55% - 30px);
  grid-gap: 30px;
}
.design-zone .progress-zone {
  background: #252525;
  padding: 30px;
}
.design-zone .progress-zone h3 {
  font-weight: 600;
  margin-bottom: 10px;
}
.design-zone .progress-zone p {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 30px;
}
.design-zone .progress-zone .box-progress {
  margin-bottom: 30px;
}
.design-zone .progress-zone .box-progress .skill {
  margin-bottom: 10px;
  font-weight: 600;
  background: linear-gradient(0deg, #006ff0 0%, #00e0f0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.design-zone .progress-zone .box-progress .skill span {
  float: right;
  color: white;
  font-weight: 400;
  font-size: 12px;
}
.design-zone .progress-zone .box-progress .progress {
  height: 2vh;
  border-radius: 20px;
}
.design-zone .progress-zone .box-progress .progress .progress-bar {
  text-align: left;
  transition-duration: 2s;
  transition-delay: 1s;
  border-radius: 20px;
  background: linear-gradient(0deg, #006ff0 0%, #00e0f0 100%);
  height: 2.05vh;
}
.design-zone .design-right .design-icon {
  position: relative;
  height: 35%;
}
.design-zone .design-right .design-icon::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 40%;
  background: white;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}
.design-zone .design-right .design-icon.design-icon-1 .design-detail, .design-zone .design-right .design-icon.design-icon-3 .design-detail {
  left: 60%;
}
.design-zone .design-right .design-icon img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.design-zone .design-right .design-icon .design-detail {
  position: absolute;
  top: 0;
  width: 40%;
}
.design-zone .design-right .design-icon .design-detail h5 {
  margin-bottom: 10px;
}
.design-zone .design-right .design-icon .design-detail h5 a {
  font-weight: 600;
  color: #1E74DA;
  transition: 0.3s;
  font-size: 15px;
}
.design-zone .design-right .design-icon .design-detail h5 a:hover {
  background: linear-gradient(0deg, #006ff0 0%, #00e0f0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 10px;
}
.design-zone .design-right .design-icon .design-detail h6 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.seo {
  background-position: bottom;
}
.seo:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: url("../img/bg-body-3.png") 0 0 repeat;
  transition: 10s;
}
.seo:hover:before {
  transform: translate(-1%, -1%) scale(1.15);
}
.seo .title-page h1 {
  margin-bottom: 10vh;
}
.seo-zone {
  width: 1100px;
}
.seo-zone .box-seo {
  margin-bottom: 40px;
  height: 18vh;
}
.seo-zone .box-seo.text-left {
  margin-left: 20px;
}
.seo-zone .box-seo.text-right {
  margin-right: 20px;
}
.seo-zone .box-seo h5 {
  margin-bottom: 15px;
}
.seo-zone .box-seo h5 span {
  margin: 10px;
  font-weight: 600;
}
.seo-zone .box-seo h5 img {
  width: 30px;
}
.seo-zone .box-seo h6 {
  line-height: 1.7;
}
.seo-all {
  margin-top: 20px;
}
.seo-all a {
  background: linear-gradient(0deg, #006ff0 0%, #00e0f0 100%);
  color: white;
  padding: 15px 30px;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  transition: 0s;
}
.seo-all a:hover {
  border: 2px solid #00e0f0;
  background: linear-gradient(0deg, #006ff0 0%, #00e0f0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hosting {
  margin: 0 15px;
}
.hosting:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: url("../img/bg-body-4.png") 0 0 repeat;
  transition: 10s;
}
.hosting:hover:before {
  transform: translate(-1%, -1%) scale(1.15);
}
.hosting-img {
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 30%;
}
.hosting-zone {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.hosting .domain-btn, .hosting .hosting-btn {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  cursor: url("../img/pointer.png"), pointer;
  transition: 0.3s;
}
.hosting .domain-btn:hover, .hosting .hosting-btn:hover {
  background: linear-gradient(0deg, #006ff0 0%, #00e0f0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hosting .domain-btn:hover img, .hosting .hosting-btn:hover img {
  opacity: 0;
}
.hosting .domain-btn img, .hosting .hosting-btn img {
  background: url("../img/click.gif");
  width: 50px;
  height: 50px;
  position: absolute;
  top: 5px;
  left: -30px;
  transition: 0.3s;
}
.hosting .hosting-btn {
  left: 75%;
}
.hosting .left, .hosting .right {
  height: 100vh;
  background: white;
  color: black;
  position: relative;
}
.hosting .left {
  transform: translateX(-100%);
  transition: 0.5s;
}
.hosting .left.active {
  transform: none;
}
.hosting .right {
  transform: translateX(100%);
  transition: 0.5s;
}
.hosting .right.active {
  transform: none;
}
.hosting .box-hosting {
  position: absolute;
  width: 70%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.hosting .box-hosting h1 {
  font-weight: bold;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.hosting .box-hosting p {
  line-height: 1.7;
  font-size: 1.1em;
}
.hosting .box-hosting-btn {
  margin-top: 40px;
}
.hosting .box-hosting-btn a {
  padding: 15px 30px;
  text-transform: uppercase;
  font-weight: 600;
  background: linear-gradient(0deg, #006ff0 0%, #00e0f0 100%);
  color: white;
  transition: 0s;
}
.hosting .box-hosting-btn a:hover {
  border: 2px solid #1E74DA;
  background: linear-gradient(0deg, #006ff0 0%, #00e0f0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.template:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: url("../img/bg-body-5.png") 0 0 repeat;
  transition: 10s;
}
.template:hover:before {
  transform: translate(-1%, -1%) scale(1.15);
}
.template-zone {
  width: 100%;
}
.template .title-page h1 {
  margin-bottom: 7vh;
}
.template .owl-theme {
  cursor: url("../img/hand.png"), auto;
}
.template .owl-theme .owl-dots {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}
.template .owl-theme .owl-dots .owl-dot.active span {
  background: #1E74DA;
}
.template .owl-theme .owl-dots .owl-dot:hover span {
  background: #1E74DA;
}
.template .owl-theme .owl-dots .owl-dot span {
  background: white;
  width: 12px;
  height: 12px;
  cursor: url("../img/pointer.png"), pointer;
}
.template .owl-item.active.center .box-template {
  transform: translateY(0);
}
.template .owl-item.active.center .box-template:active {
  cursor: url("../img/scroll.png"), auto;
}
.template .owl-item.active.center .box-template-mouse {
  opacity: 1;
}
.template .owl-item.active.center .box-template-img {
  height: 50vh;
  overflow-y: scroll;
  border-right: 0;
}
.template .owl-item.active.center .box-template-detail {
  display: block;
}
.template .box-template {
  position: relative;
  transform: translateY(5vh);
  transition: 0.5s;
}
.template .box-template:hover img {
  filter: brightness(1);
}
.template .box-template:hover .box-template-detail {
  opacity: 0;
}
.template .box-template:hover .box-template-mouse::before {
  display: none;
}
.template .box-template-mouse {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: -25px;
  right: calc(50% - 90px);
  transform: translateX(-50%);
  z-index: 2;
  opacity: 0;
}
.template .box-template-mouse::before {
  content: "Cuộn xuống ngay!";
  position: absolute;
  top: 15px;
  left: -7px;
  width: 120px;
  font-size: 14px;
}
.template .box-template-img {
  display: block;
  height: 40vh;
  overflow-y: hidden;
  position: relative;
  border: 10px solid white;
}
.template .box-template-img::-webkit-scrollbar {
  width: 15px;
  cursor: url("../img/scroll.png"), auto;
}
.template .box-template-img::-webkit-scrollbar-track {
  background: #ccc;
  cursor: url("../img/scroll.png"), auto;
}
.template .box-template-img::-webkit-scrollbar-thumb {
  background: #1E74DA;
  cursor: url("../img/scroll.png"), auto;
}
.template .box-template-img::-webkit-scrollbar-thumb:hover {
  background: #013675;
  cursor: url("../img/scroll.png"), auto;
}
.template .box-template-img img {
  max-width: 100%;
  height: auto;
  position: absolute;
  max-height: initial;
  transition: 0.3s;
  filter: brightness(0.8);
}
.template .box-template-detail {
  position: absolute;
  top: 50%;
  left: -50px;
  transform: translateY(-50%);
  display: none;
  opacity: 1;
  transition: 0.3s;
}
.template .box-template-detail h2 {
  background: linear-gradient(0deg, #006ff0 0%, #00e0f0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}
.template .template-all {
  margin-top: 50px;
}
.template .template-all a {
  background: linear-gradient(0deg, #006ff0 0%, #00e0f0 100%);
  color: white;
  padding: 15px 30px;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  transition: 0s;
}
.template .template-all a:hover {
  border: 2px solid #00e0f0;
  background: linear-gradient(0deg, #006ff0 0%, #00e0f0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: url("../img/bg-body-6.png") 0 0 repeat;
  transition: 10s;
}
.contact:hover:before {
  transform: translate(-1%, -1%) scale(1.15);
}
.contact-zone {
  width: 700px;
}
.contact-zone .title-page h1 {
  margin-bottom: 10px;
}
.contact-zone h5 {
  text-align: center;
  margin-bottom: 30px;
}
.contact-zone input {
  width: calc(100% / 3);
  margin: 0 -2px;
  border: 1px solid white;
  background: none;
  height: 60px;
  padding-left: 15px;
  color: white;
  font-size: 14px;
  cursor: url("../img/text.png"), auto;
}
.contact-zone input:nth-child(1) {
  border-left: 0;
  border-right: 0;
}
.contact-zone input:nth-child(3) {
  border-right: 0;
  border-left: 0;
}
.contact-zone input::placeholder {
  color: #ccc;
}
.contact-zone input:focus {
  border-color: #1E74DA;
  outline: none;
  box-shadow: none;
}
.contact-zone textarea {
  height: 120px;
  background: none;
  border: 0;
  border-bottom: 1px solid white;
  width: calc(100% - 1px);
  margin-left: -1px;
  padding: 15px;
  color: white;
  font-size: 14px;
  cursor: url("../img/text.png"), auto;
}
.contact-zone textarea::placeholder {
  color: #ccc;
}
.contact-zone textarea:focus {
  border-color: #1E74DA;
  outline: none;
  box-shadow: none;
}
.contact-zone button {
  text-align: center;
  margin-top: 20px;
  padding: 15px 40px;
  background: linear-gradient(0deg, #006ff0 0%, #00e0f0 100%);
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  border: 0;
  cursor: url("../img/pointer.png"), pointer;
  font-size: 16px;
}
.contact-zone button:hover {
  background: #1E74DA;
}
.contact-zone h6 {
  margin: 20px 0;
}
.contact-zone ul {
  text-align: center;
}
.contact-zone ul li {
  display: inline-block;
  text-align: center;
  padding-right: 15px;
  margin-right: 15px;
  border-right: 1px solid #e1e1e1;
  font-size: 14px;
}
.contact-zone ul li i {
  padding-right: 10px;
  color: #1E74DA;
}
.contact-zone ul li:last-child {
  padding-right: 0;
  margin-right: 0;
  border: 0;
}

@media (max-width: 1260px) {
  .menu .nav li a {
    padding: 0 12px;
  }
}
@media (max-width: 1200px) {
  .menu {
    height: 50px;
    width: 50px;
    top: 0;
    right: 0;
  }
  .menu .toggleMenu {
    display: block;
  }
  .menu .nav {
    width: 250px;
    height: 100vh;
    background: #252525;
    padding: 20px;
    text-align: left;
    padding-top: 50px;
    overflow: scroll;
    transition: 0.3s;
    transform: translateX(100%);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1006;
  }
  .menu .nav.out {
    transform: none;
  }
  .menu .nav-close {
    display: block;
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
  }
  .menu .nav li {
    display: block;
    padding-bottom: 20px;
  }

  .logo .logo-white {
    display: block !important;
  }
  .logo .logo-black {
    display: none !important;
  }

  .pagination {
    display: none;
  }

  .about-zone, .design-zone, .contact-zone, .seo-zone, .template-zone {
    position: relative;
    top: initial;
    left: initial;
    transform: none;
    width: 960px;
    margin: 50px auto;
  }
  .about-zone::before, .design-zone::before, .contact-zone::before, .seo-zone::before, .template-zone::before {
    content: none;
  }

  .about-zone .service {
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-gap: 50px;
    width: 100%;
  }
  .about-zone .service .box-service-img {
    width: fit-content;
    height: inherit;
    margin: auto;
    margin-bottom: 20px;
  }
  .about-zone .service .box-service-img img {
    position: relative;
    top: initial;
    left: initial;
    transform: none;
    padding: 50px;
  }

  .design-zone .design-in {
    grid-template-columns: calc(100% - 350px) 310px;
  }
  .design-zone .progress-zone .box-progress .progress {
    height: 15px;
  }
  .design-zone .progress-zone .box-progress .progress .progress-bar {
    height: 15px;
  }
  .design-zone .design-right .design-icon:after {
    left: 30px;
    transform: none;
  }
  .design-zone .design-right .design-icon img {
    left: 0;
    transform: none;
  }
  .design-zone .design-right .design-icon .design-detail {
    left: 70px;
    width: auto;
  }
  .design-zone .design-right .design-icon.design-icon-3 .design-detail, .design-zone .design-right .design-icon.design-icon-1 .design-detail {
    left: 70px;
  }

  .hosting-zone {
    margin-left: 15px;
  }
  .hosting .left, .hosting .right {
    height: auto;
    padding: 30px;
    padding-bottom: 50px;
  }
  .hosting .box-hosting {
    position: relative;
    width: 100%;
    left: initial;
    top: initial;
    transform: none;
    z-index: 2;
  }

  .contact-zone {
    width: 700px;
  }

  .template-zone {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .menu {
    height: 100px;
    width: 100%;
    background: rgba(37, 37, 37, 0.7);
  }
  .menu .toggleMenu {
    right: 15px;
    position: absolute;
    top: 15px;
    z-index: 1;
  }

  .about-zone, .design-zone, .seo-zone {
    width: calc(100% - 60px);
    margin: 50px 30px;
  }

  .about {
    padding-top: 50px;
  }

  .hosting-zone {
    display: block;
  }

  .hosting .hosting-btn, .hosting .domain-btn {
    display: none;
  }
  .hosting .right {
    transform: none;
    margin-top: 30px;
  }

  .seo .title-page h1 {
    margin-bottom: 50px;
  }
}

/*# sourceMappingURL=index.css.map */
