@font-face {
  font-family: "SF Display";
  font-weight: 400;
  src: url("../fonts/SF-UI-Display-Regular.otf");
}
@font-face {
  font-family: "SF Display";
  font-weight: 500;
  src: url("../fonts/SF-UI-Display-Medium.otf");
}
@font-face {
  font-family: "SF Display";
  font-weight: 600;
  src: url("../fonts/SF-UI-Display-Semibold.otf");
}
@font-face {
  font-family: "SF Display";
  font-weight: bold;
  src: url("../fonts/SF-UI-Display-Bold.otf");
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "SF Display";
  color: black;
  margin: 0;
  margin-right: 15px;
  overflow-x: hidden;
  font-weight: 400;
  font-size: 14px;
  background: white;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: inherit;
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
}
body h1 {
  font-size: 2.1em;
}
body h2 {
  font-size: 1.75em;
}
body h3 {
  font-size: 1.4em;
}
body h4 {
  font-size: 1.15em;
}
body h5 {
  font-size: 1em;
}
body h6 {
  font-size: 0.85em;
}
body a {
  outline: none;
  text-decoration: none;
  font-weight: 400;
  color: inherit;
}
body a:hover,
body a:focus {
  text-decoration: none;
  color: inherit;
}
body ul {
  margin: 0;
  padding: 0;
}
body li {
  list-style: none;
}
body img {
  border: none;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
}
body section {
  margin-left: -15px !important;
  margin-right: -15px !important;
}
body button:focus {
  outline: none;
}
body input:focus,
body select:focus {
  box-shadow: 0 0 0 0.2rem rgba(30, 116, 218, 0.5);
}

body .overlay-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  display: none;
  background: rgba(0, 0, 0, 0.2);
}
body .overlay-menu.overlay-in {
  display: block;
}

.pagination {
  margin-bottom: 10px;
}
.pagination .page-item .page-link {
  background: none;
  border: 1px solid #111111;
  color: white;
  border-radius: 3px;
  transition: 0.3s;
  width: 40px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  line-height: 25px;
  font-weight: bold;
  background: #252525;
}
.pagination .page-item .page-link:hover, .pagination .page-item .page-link:focus, .pagination .page-item .page-link.active {
  background: #1E74DA;
  color: white;
}

.bread-crumb {
  color: black;
  margin-bottom: 30px;
  text-align: left;
  margin-top: 20px;
}
.bread-crumb .breadcrumb {
  background: none;
  padding: 0;
  margin-bottom: 0;
  justify-content: left;
}
.bread-crumb .breadcrumb .breadcrumb-item:first-child::before {
  content: none;
}
.bread-crumb .breadcrumb .breadcrumb-item:before {
  content: "/";
  padding-left: 10px;
  padding-right: 15px;
}
.bread-crumb .breadcrumb .breadcrumb-item:hover {
  color: #1E74DA;
}
.bread-crumb .breadcrumb .breadcrumb-item.active {
  color: #1E74DA;
}

.footer {
  background: #252525;
  color: white;
  padding-top: 30px;
}
.footer h4 {
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #383838;
  text-transform: uppercase;
  font-weight: 600;
}
.footer h4 i {
  float: right;
  font-size: 20px;
  margin-top: -5px;
}
.footer img {
  height: 70px;
  margin-bottom: 20px;
}
.footer ul {
  margin-bottom: 30px;
}
.footer ul li {
  margin-bottom: 15px;
  color: #ccc;
}
.footer ul li i {
  margin-right: 10px;
  color: #1E74DA;
  font-size: 14px;
}
.footer ul li a {
  color: #ccc;
  transition: 0.3s;
}
.footer ul li a:hover {
  color: #1E74DA;
}
.footer i {
  font-size: 20px;
  margin-right: 15px;
  transition: 0.3s;
}
.footer i:hover {
  color: #1E74DA;
}

.menu {
  position: fixed;
  width: 100%;
  right: 0;
  top: 0;
  height: 100px;
  z-index: 1005;
  background: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  transition: 0.3s;
}
.menu.down {
  height: 60px;
}
.menu.down .nav li {
  padding: 20px 0;
}
.menu.down .nav li ul {
  top: 60px;
}
.menu.down .nav li ul li {
  padding: 10px 0;
}
.menu .toggleMenu {
  cursor: pointer;
  display: none;
  color: white !important;
  margin: 10px 0;
  z-index: 10000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.menu .toggleMenu i {
  font-size: 26px;
}
.menu .nav {
  display: block;
  text-align: right;
  transition: 0.3s;
}
.menu .nav-close {
  display: none;
}
.menu .nav li {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
  position: relative;
  padding: 40px 0;
}
.menu .nav li a {
  font-size: 14px;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: black;
  padding: 0 15px;
  font-weight: 600;
}
.menu .nav li a.gray {
  color: #999;
}
.menu .nav li a.active {
  background: -webkit-gradient(linear, left bottom, left top, from(#006ff0), to(#00e0f0));
  background: linear-gradient(0deg, #006ff0 0%, #00e0f0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu .nav li a:hover {
  color: #1E74DA;
}
.menu .nav li:hover ul {
  opacity: 1;
  visibility: initial;
  transform: translateY(0);
}
.menu .nav li ul {
  position: absolute;
  width: 250px;
  text-align: left;
  background: white;
  border: 1px solid #e1e1e1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  top: 100px;
  left: -50px;
  transition: 0.3s;
  padding: 10px 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
}
.menu .nav li ul li {
  padding: 10px 0;
}
.menu .nav li ul li a {
  text-transform: initial;
  font-weight: 400;
  color: #444444;
  padding: 0 20px;
}

.logo {
  position: fixed;
  left: 30px;
  top: 10px;
  z-index: 1005;
  cursor: url("../img/cursor.png"), auto;
}
.logo.down img {
  height: 40px;
}
.logo img {
  height: 80px;
  transition: 0.3s;
}

.title-page h1 {
  margin-bottom: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.order {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 100px;
  height: 100px;
  background: -webkit-gradient(linear, left bottom, left top, from(#006ff0), to(#00e0f0));
  background: linear-gradient(0deg, #006ff0 0%, #00e0f0 100%);
  border-radius: 50%;
  border: 2px solid transparent;
  border-top: 2px solid #00e0f0;
  border-bottom: 2px solid #006ff0;
  z-index: -1;
}
.order:hover {
  border: 2px solid #00e0f0;
  background: none;
}
.order:hover a {
  background: -webkit-gradient(linear, left bottom, left top, from(#006ff0), to(#00e0f0));
  background: linear-gradient(0deg, #006ff0 0%, #00e0f0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.order a {
  position: absolute;
  width: 80%;
  height: 80%;
  font-weight: 600;
  top: 25px;
  left: 10px;
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

article {
  padding-top: 100px;
  min-height: calc(100vh - 280px);
}

.template-page {
  margin-bottom: 50px;
}
.template-page .container {
  display: grid;
  grid-template-columns: 250px calc(100% - 280px);
  grid-gap: 30px;
}
.template-page .left .category {
  background: white;
  border: 1px solid #e1e1e1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 20px 15px;
  padding-bottom: 0;
  margin-bottom: 30px;
}
.template-page .left .category h4 {
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 600;
  border-bottom: 1px solid #e1e1e1;
}
.template-page .left .category h4 i {
  float: right;
  font-size: 20px;
  margin-top: -5px;
}
.template-page .left .category ul li {
  margin-bottom: 20px;
  position: relative;
}
.template-page .left .category ul li a {
  color: #585858;
  transition: 0.3s;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.template-page .left .category ul li a:hover {
  color: #1E74DA;
}
.template-page .left .category ul li span {
  position: absolute;
  top: 0;
  right: 0;
  color: #1E74DA;
}
.template-page .main h2 {
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.box-template {
  margin-bottom: 40px;
}
.box-template-img {
  height: 400px;
  overflow-y: scroll;
  position: relative;
  margin-bottom: 15px;
  border: 1px solid #e1e1e1;
}
.box-template-img::-webkit-scrollbar {
  width: 15px;
  cursor: url("../img/scroll.png"), auto;
}
.box-template-img::-webkit-scrollbar-track {
  background: #ccc;
  cursor: url("../img/scroll.png"), auto;
}
.box-template-img::-webkit-scrollbar-thumb {
  background: #1E74DA;
  cursor: url("../img/scroll.png"), auto;
}
.box-template-img::-webkit-scrollbar-thumb:hover {
  background: #013675;
  cursor: url("../img/scroll.png"), auto;
}
.box-template-img img {
  max-width: 100%;
  height: auto;
  position: absolute;
  max-height: initial;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.box-template-detail h4 a {
  font-weight: 600;
  transition: 0.3s;
}
.box-template-detail h4 a:hover {
  color: #1E74DA;
}
.box-template-detail h5 {
  color: #555555;
}

.design-page {
  margin-bottom: 50px;
}
.design-page .box-design-page {
  margin-top: 30px;
}
.design-page .box-design-page-img {
  border-radius: 50%;
  border: 2px solid #00e0f0;
  width: fit-content;
  margin: auto;
  margin-bottom: 15px;
}
.design-page .box-design-page-img img {
  padding: 40px;
}
.design-page .box-design-page h4 a {
  font-weight: bold;
  transition: 0.3s;
}
.design-page .box-design-page h4 a:hover {
  color: #1E74DA;
}

.page-text {
  margin-bottom: 50px;
}
.page-text .template-all {
  text-align: center;
}
.page-text .template-all a {
  color: white;
  background: #1E74DA;
  padding: 12px 30px;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.3s;
  border: 2px solid #1E74DA;
}
.page-text .template-all a:hover {
  color: #1E74DA;
  background: none;
}

.contact-page {
  margin-bottom: 50px;
}
.contact-page .box-contact {
  color: black;
}
.contact-page .box-contact input {
  height: 40px;
  font-size: 14px;
}
.contact-page .box-contact textarea {
  height: 100px;
}

.hosting-page {
  margin: 50px 0;
}
.hosting-page .table-responsive {
  margin-bottom: 30px;
}
.hosting-page .table-responsive h4 {
  padding: 15px 0;
  width: 100%;
  background: #1E74DA;
  color: white;
  text-align: center;
}
.hosting-page .table-responsive thead th {
  background: #1E74DA;
  color: white;
  text-align: center;
}
.hosting-page .table-responsive tbody th {
  background: #f4f4f4;
  min-width: 150px;
}
.hosting-page .table-responsive tbody td {
  text-align: center;
  min-width: 100px;
}

@media (max-width: 1260px) {
  .menu .nav li a {
    padding: 0 12px;
  }
}
@media (max-width: 1200px) {
  body {
    margin-left: 15px;
    font-size: calc(9px + 0.4vmax);
  }

  .menu.down .nav {
    margin: 0;
  }
  .menu.down .toggleMenu {
    top: 10px;
  }
  .menu .toggleMenu {
    display: block;
    right: 15px;
    position: absolute;
    top: 15px;
    z-index: 1;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #1E74DA;
    border-radius: 3px;
    top: 30px;
    margin: 0;
  }
  .menu .toggleMenu i {
    font-size: 24px;
    color: white;
  }
  .menu .nav {
    width: 300px;
    height: 100vh;
    background: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    padding: 20px;
    text-align: left;
    padding-top: 50px;
    overflow: scroll;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1006;
    border-left: 1px solid #e1e1e1;
    margin: 0;
  }
  .menu .nav.out {
    -webkit-transform: none;
    transform: none;
  }
  .menu .nav-close {
    display: block;
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: black;
  }
  .menu .nav li {
    display: block;
    padding: 0;
    padding-bottom: 30px;
  }
  .menu .nav li:hover ul {
    position: relative;
  }
  .menu .nav li a {
    color: black;
    font-size: 16px;
    text-transform: initial;
  }
  .menu .nav li ul {
    left: 0;
    width: 300px;
    border: 0;
    box-shadow: none;
    top: 0;
    padding: 0;
    margin-top: 5px;
    margin-bottom: -25px;
    border-left: 1px solid #e1e1e1;
    margin-left: 15px;
  }
  .menu .nav li ul li a {
    font-size: 14px;
    color: #444444;
    padding: 0 10px;
  }
}
@media (max-width: 992px) {
  .menu {
    height: 100px;
    width: 100%;
  }

  .template-page .container {
    display: block;
  }
  .template-page .left .category {
    padding: 0;
  }
  .template-page .left .category h4 {
    background: #1E74DA;
    color: white;
    padding: 20px;
    margin-bottom: 0;
  }
  .template-page .left .category ul {
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
  }
  .template-page .left .category ul li {
    display: none;
  }
  .template-page .left .category ul.active {
    height: auto;
    opacity: 1;
    visibility: initial;
    padding: 15px;
  }
  .template-page .left .category ul.active li {
    display: block;
  }
}
@media (max-width: 767px) {
  .order {
    top: 30px;
    right: 70px;
    width: 180px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    transition: 0.3s;
  }
  .order.down {
    top: 10px;
  }
  .order a {
    position: relative;
    top: initial;
    left: initial;
  }
}
@media (max-width: 575px) {
  article {
    padding-top: 60px;
  }

  .menu {
    height: 60px;
  }
  .menu .toggleMenu {
    top: 10px;
    right: 5px;
  }

  .logo {
    left: 5px;
  }
  .logo .logo-black {
    height: 40px;
  }

  .order {
    top: 10px;
    right: 50px;
    width: 150px;
    background: none;
    border: 2px solid #1E74DA;
    line-height: 38px;
  }
  .order:hover {
    background: #1E74DA;
    border: 0;
  }
  .order:hover a {
    color: white;
    background: none;
    -webkit-text-fill-color: inherit;
  }
  .order a {
    font-size: 13.5px;
    color: #1E74DA;
  }

  .footer ul {
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
  }
  .footer ul li {
    display: none;
    transition: 0.3s;
  }
  .footer ul.active {
    height: auto;
    visibility: initial;
    opacity: 1;
  }
  .footer ul.active li {
    display: block;
  }
}

/*# sourceMappingURL=layout.css.map */
