$main_color: #1E74DA;

@mixin o1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@mixin o2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@mixin o3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@mixin o4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

// ------------------




@media (max-width: 1260px) {
  .menu .nav li a {
    padding: 0 12px;
  }
}

@media (max-width: 1200px) {
  body {
    margin-left: 15px;
    font-size: calc(9px + 0.4vmax);
  }

  .menu {
    &.down {
      .nav {
        margin: 0;
      }

      .toggleMenu {
        top: 10px;
      }
    }

    .toggleMenu {
      display: block;
      right: 15px;
      position: absolute;
      top: 15px;
      z-index: 1;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      background: $main_color;
      border-radius: 3px;
      top: 30px;
      margin: 0;

      i {
        font-size: 24px;
        color: white;
      }
    }

    .nav {
      width: 300px;
      height: 100vh;
      background: white;
      box-shadow: 0 3px 6px rgba($color: black, $alpha: 0.15);
      padding: 20px;
      text-align: left;
      padding-top: 50px;
      overflow: scroll;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      position: fixed;
      top: 0;
      right: 0;
      z-index: 1006;
      border-left: 1px solid #e1e1e1;
      margin: 0;

      &.out {
        -webkit-transform: none;
        transform: none;
      }

      &-close {
        display: block;
        position: absolute;
        top: 5px;
        right: 15px;
        font-size: 24px;
        cursor: pointer;
        color: black;
      }

      li {
        display: block;
        padding: 0;
        padding-bottom: 30px;

        &:hover {
          ul {
            position: relative;
          }
        }

        a {
          color: black;
          font-size: 16px;
          text-transform: initial;
        }

        ul {
          left: 0;
          width: 300px;
          border: 0;
          box-shadow: none;
          top: 0;
          padding: 0;
          margin-top: 5px;
          margin-bottom: -25px;
          border-left: 1px solid #e1e1e1;
          margin-left: 15px;

          li {
            a {
              font-size: 14px;
              color: #444444;
              padding: 0 10px;
            }
          }
        }
      }
    }
  }

}

@media (max-width: 992px) {
  .menu {
    height: 100px;
    width: 100%;
  }

  .template-page {
    .container {
      display: block;
    }

    .left .category {
      padding: 0;

      h4 {
        background: $main_color;
        color: white;
        padding: 20px;
        margin-bottom: 0;
      }

      ul {
        height: 0;
        opacity: 0;
        visibility: hidden;
        transition: .3s;

        li {
          display: none;
        }

        &.active {
          height: auto;
          opacity: 1;
          visibility: initial;
          padding: 15px;

          li {
            display: block;
          }
        }
      }
    }
  }
}



@media (max-width: 767px) {
  .order {
    top: 30px;
    right: 70px;
    width: 180px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    transition: .3s;
    
    &.down {
      top: 10px;
    }

    a {
      position: relative;
      top: initial;
      left: initial;
    }
  }
}

@media (max-width: 575px) {
  article {
    padding-top: 60px;
  }

  .menu {
    height: 60px;

    .toggleMenu {
      top: 10px;
      right: 5px;
    }
  }

  .logo {
    left: 5px;

    .logo-black {
      height: 40px;
    }
  }

  .order {
    top: 10px;
    right: 50px;
    width: 150px;
    background: none;
    border: 2px solid $main_color;
    line-height: 38px;

    &:hover {
      background: $main_color;
      border: 0;

      a {
        color: white;
        background: none;
        -webkit-text-fill-color: inherit;
      }
    }

    a {
      font-size: 13.5px;
      color: $main_color;
    }
  }

  .footer {
    ul {
      height: 0;
      visibility: hidden;
      opacity: 0;
      transition: .3s;

      li {
        display: none;
        transition: .3s;
      }

      &.active {
        height: auto;
        visibility: initial;
        opacity: 1;

        li {
          display: block;
        }
      }
    }
  }
}

@media (max-width: 450px) {

}
