@import 'default';
$main_color: #1E74DA;

@mixin o1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@mixin o2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@mixin o3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@mixin o4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

// end default css -----------------------------------------------------


.menu {
  position: fixed;
  width: 100%;
  right: 0;
  top: 0;
  height: 100px;
  z-index: 1005;
  background: white;
  box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
  transition: .3s;

  &.down {
    height: 60px;

    .nav {
      margin: 20px 15px;
    }
  }

  .toggleMenu {
    cursor: pointer;
    display: none;
    color: white !important;
    margin: 10px 0;
    z-index: 10000;
    -webkit-transition: .3s;
    transition: .3s;

    i {
      font-size: 26px;
    }
  }

  .nav {
    display: block;
    text-align: right;
    margin: 37px 15px;
    transition: .3s;

    &-close {
      display: none;
    }

    li {
      -webkit-transition: 0.5s;
      transition: 0.5s;
      display: inline-block;

      a {
        font-size: 14px;
        text-transform: uppercase;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        color: black;
        padding: 0 15px;
        font-weight: 600;

        &.gray {
          color: #999;
        }

        &.active {
          background: -webkit-gradient(
            linear,
            left bottom,
            left top,
            from(rgba(0, 111, 240, 1)),
            to(rgba(0, 224, 240, 1))
          );
          background: linear-gradient(
            0deg,
            rgba(0, 111, 240, 1) 0%,
            rgba(0, 224, 240, 1) 100%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        &:hover {
          color: $main_color;
        }
      }
    }
  }
}

.logo {
  position: fixed;
  left: 30px;
  top: 10px;
  z-index: 1005;
  cursor: url("../img/cursor.png"), auto;

  &.down {
    img {
      height: 40px;
    }
  }

  img {
    height: 80px;
    transition: .3s;
  }
}

.title-page {
  h1 {
    margin-bottom: 30px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.order {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 100px;
  height: 100px;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(0, 111, 240, 1)),
    to(rgba(0, 224, 240, 1))
  );
  background: linear-gradient(
    0deg,
    rgba(0, 111, 240, 1) 0%,
    rgba(0, 224, 240, 1) 100%
  );
  border-radius: 50%;
  border: 2px solid transparent;
  border-top: 2px solid #00e0f0;
  border-bottom: 2px solid #006ff0;
  z-index: -1;

  &:hover {
    border: 2px solid #00e0f0;
    background: none;

    a {
      background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(rgba(0, 111, 240, 1)),
        to(rgba(0, 224, 240, 1))
      );
      background: linear-gradient(
        0deg,
        rgba(0, 111, 240, 1) 0%,
        rgba(0, 224, 240, 1) 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  a {
    position: absolute;
    width: 80%;
    height: 80%;
    font-weight: 600;
    top: 25px;
    left: 10px;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    color: white;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

article {
  padding-top: 100px;
}

.template-page {
  margin-bottom: 50px;

  .container {
    display: grid;
    grid-template-columns: 250px calc(100% - 280px);
    grid-gap: 30px;
  }

  .left {
    .category {
      background: white;
      border: 1px solid #e1e1e1;
      box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
      padding: 20px 15px;
      padding-bottom: 0;
      margin-bottom: 30px;

      h4 {
        padding-bottom: 10px;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-weight: 600;
        border-bottom: 1px solid #e1e1e1;
        
        i {
          float: right;
          font-size: 20px;
          margin-top: -5px;
        }
      }

      ul li {
        margin-bottom: 20px;
        position: relative;

        a {
          color: #585858;
          transition: .3s;
          @include o1;

          &:hover {
            color: $main_color;
          }
        }

        span {
          position: absolute;
          top: 0;
          right: 0;
          color: $main_color;
        }
      }
    }
  }

  .main {
    h2 {
      margin-bottom: 20px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

.box-template {
  margin-bottom: 40px;

  &-img {
    height: 400px;
    overflow-y: scroll;
    position: relative;
    margin-bottom: 15px;
    border: 1px solid #e1e1e1;

    &::-webkit-scrollbar {
      width: 15px;
      cursor: url("../img/scroll.png"), auto;
    }

    &::-webkit-scrollbar-track {
      background: #ccc;
      cursor: url("../img/scroll.png"), auto;
    }

    &::-webkit-scrollbar-thumb {
      background: $main_color;
      cursor: url("../img/scroll.png"), auto;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #013675;
      cursor: url("../img/scroll.png"), auto;
    }

    img {
      max-width: 100%;
      height: auto;
      position: absolute;
      max-height: initial;
      -webkit-transition: 0.3s;
      transition: 0.3s;
    }
  }

  &-detail {
    h4 {
      a {
        font-weight: 600;
        transition: .3s;

        &:hover {
          color: $main_color;
        }
      }
    }

    h5 {
      color: #555555;
    }
  }
}

.design-page {
  margin-bottom: 50px;

  .box-design-page {
    margin-top: 30px;

    &-img {
      border-radius: 50%;
      border: 2px solid #00e0f0;
      width: fit-content;
      margin: auto;
      margin-bottom: 15px;

      img {
        padding: 40px;
      }
    }

    h4 {
      a {
        font-weight: bold;
        transition: .3s;

        &:hover {
          color: $main_color;
        }
      }
    }
  }
}

.page-text {
  margin-bottom: 50px;

  .template-all {
    text-align: center;

    a {
      color: white;
      background: $main_color;
      padding: 12px 30px;
      text-transform: uppercase;
      font-weight: bold;
      transition: .3s;
      border: 2px solid $main_color;

      &:hover {
        color: $main_color;
        background: none;
      }
    }
  }
}


.contact-page {
  margin-bottom: 50px;

  .box-contact {
    color: black;

    input {
      height: 40px;
      font-size: 14px;
    }

    textarea {
      height: 100px;
    }
  }
}



// --------------------------------------------------------------------
@import 'media';
