<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Siêu thị ghế văn phòng Thanh Thúy
    link(rel='stylesheet', href='../css/bootstrap.min.css')
    link(rel='stylesheet', href='../css/mdb.min.css')
    link(rel='stylesheet', href='../css/materialdesignicons.min.css')
    link(rel='stylesheet', href='../css/layout.css')
    link(rel='shortcut icon', href='../img/favicon.png')
  body
    .go-top(title='Lên đầu trang')
      span
      span

    .overlay-menu

    .menu
      .toggleMenu
        i.mdi.mdi-menu
      ul.nav
        .nav-close
          i.mdi.mdi-close
        li.nav-item
          a(href='index.html') Trang chủ
        li.nav-item
          a(href='gioi-thieu.html') Giới thiệu
        li.nav-item
          a(href='thiet-ke-website.html') Thiết kế website
        li.nav-item
          a(href='ten-mien.html') Tên miền
        li.nav-item
          a(href='hosting.html') Hosting
        li.nav-item
          a(href='email.html') Email
        li.nav-item
          a(href='quang-cao-website.html') Quảng cáo website
        li.nav-item
          a(href='mau-website.html') Mẫu website
        li.nav-item
          a(href='lien-he.html') Liên hệ
      
      .logo
        img.logo-black(src='../img/logo-black.png')
      
      .order
        a(href='lien-he.html') Đặt làm web ngay
      
    article
      block article

        
    block footer
      section.footer
        .container
          .row
            .col-lg-4.col-md-6
              .info
                img(src='../img/logo.png')
                p Aliquam in bibendum mauris. Sed vitae erat vel velit blandit pharetra vitae nec ante. Cras at est augue. Cras ut interdum elit. Ut malesuada a urna sit amet blandit. Nullam nunc lorem, aliquam at eros laoreet, feugiat bibendum ligula. Aenean congue, massa id aliquet semper, ligula ante 

            .col-lg-4.col-md-6
              .contact
                h4 
                  | thông tin liên hệ
                  i.mdi.mdi-chevron-down.d-block.d-sm-none
                ul
                  li
                    i.mdi.mdi-map-outline
                    | 311 K13 Đường 8, KP 1, P. An Phú, Q2, TP. HCM
                  li
                    i.mdi.mdi-deskphone
                    | 0917 681 909
                  li
                    i.mdi.mdi-email-outline
                    | kinhdoanh@triviet.net 
                  li
                    i.mdi.mdi-note-outline
                    | Mã số thuế: 0304.93 23 71
                  li
                    i.mdi.mdi-calendar-star
                    | Thành lập ngày 12/04/2007
            
            .col-lg-2.col-md-6
              .about
                h4 
                  | Dịch vụ
                  i.mdi.mdi-chevron-down.d-block.d-sm-none
                ul
                  li
                    a(href='gioi-thieu.html') Thiết kế website
                  li
                    a(href='huong-dan-mua-hang.html') Tên miền
                  li
                    a(href='thong-tin.html') Hosting
                  li
                    a(href='khuyen-mai.html') Email
                  li
                    a(href='lien-he.html') Quảng cáo website
            
            .col-lg-2.col-md-6
              .policy
                h4 
                  | về chúng tôi
                  i.mdi.mdi-chevron-down.d-block.d-sm-none
                ul
                  li
                    a(href='chinh-sach.html') Giới thiệu
                  li
                    a(href='chinh-sach.html') Liên hệ
                  li
                    a(href='chinh-sach.html') Chính sách thanh toán
                  li
                    a(href='chinh-sach.html') Chính sách bảo mật
                  li
                    a(href='chinh-sach.html') Thỏa thuận sử dụng

                    
                    
                    


      script(src='../js/jquery-3.3.1.min.js')
      script(src='../js/bootstrap.min.js')
      script(src='../js/mdb.min.js')
      script(src='../js/owl.carousel.min.js')
      script(src='../js/layout.js')
