extends _inc

block article
  section.bread-crumb
    .container
      .bc-icons
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              a(href='index.html') Trang chủ
            li.breadcrumb-item
              a(href='thiet-ke-website.html') Thiết kế website
            li.breadcrumb-item.active Thiết kế website trọn gón

  section.page-text
    .container 
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat neque assumenda molestias? Natus molestias eligendi repellendus molestiae! Aperiam ipsa ullam, nemo eos praesentium optio, itaque consequuntur iste repellendus quam quidem.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat neque assumenda molestias? Natus molestias eligendi repellendus molestiae! Aperiam ipsa ullam, nemo eos praesentium optio, itaque consequuntur iste repellendus quam quidem.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat neque assumenda molestias? Natus molestias eligendi repellendus molestiae! Aperiam ipsa ullam, nemo eos praesentium optio, itaque consequuntur iste repellendus quam quidem.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat neque assumenda molestias? Natus molestias eligendi repellendus molestiae! Aperiam ipsa ullam, nemo eos praesentium optio, itaque consequuntur iste repellendus quam quidem.

      .row
        .col-lg-4.col-md-6
          .box-template
            .box-template-img
              img(src='../img/template-1.png')
            .box-template-detail
              h4 
                a(href='#') Website Trí Việt
              h5 Website quảng bá doanh nghiệp

        .col-lg-4.col-md-6
          .box-template
            .box-template-img
              img(src='../img/template-1.png')
            .box-template-detail
              h4 
                a(href='#') Website Trí Việt
              h5 Website quảng bá doanh nghiệp

        .col-lg-4.col-md-6
          .box-template
            .box-template-img
              img(src='../img/template-1.png')
            .box-template-detail
              h4 
                a(href='#') Website Trí Việt
              h5 Website quảng bá doanh nghiệp

        .col-lg-4.col-md-6
          .box-template
            .box-template-img
              img(src='../img/template-1.png')
            .box-template-detail
              h4 
                a(href='#') Website Trí Việt
              h5 Website quảng bá doanh nghiệp

        .col-lg-4.col-md-6
          .box-template
            .box-template-img
              img(src='../img/template-1.png')
            .box-template-detail
              h4 
                a(href='#') Website Trí Việt
              h5 Website quảng bá doanh nghiệp

        .col-lg-4.col-md-6
          .box-template
            .box-template-img
              img(src='../img/template-1.png')
            .box-template-detail
              h4 
                a(href='#') Website Trí Việt
              h5 Website quảng bá doanh nghiệp

      .template-all
        a(href='mau-website.html') Xem tất cả mẫu
