extends _inc

block article
  section.bread-crumb
    .container
      .bc-icons
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              a(href='index.html') Trang chủ
            li.breadcrumb-item.active Giới thiệu

  section.page-text
    .container 
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat neque assumenda molestias? Natus molestias eligendi repellendus molestiae! Aperiam ipsa ullam, nemo eos praesentium optio, itaque consequuntur iste repellendus quam quidem.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat neque assumenda molestias? Natus molestias eligendi repellendus molestiae! Aperiam ipsa ullam, nemo eos praesentium optio, itaque consequuntur iste repellendus quam quidem.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat neque assumenda molestias? Natus molestias eligendi repellendus molestiae! Aperiam ipsa ullam, nemo eos praesentium optio, itaque consequuntur iste repellendus quam quidem.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat neque assumenda molestias? Natus molestias eligendi repellendus molestiae! Aperiam ipsa ullam, nemo eos praesentium optio, itaque consequuntur iste repellendus quam quidem.
