extends _inc


block article
  section.hosting-page
    .container
      .table-responsive
        h4 Window
        table.table.table-bordered.table-hosting
          thead
            tr
              th Thông số hosting 
              th Start
              th Start
              th Start
              th Start
              th Start
              th Start
              th Start
              th Start
          tbody
            tr
              th Dung lượng
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
            tr
              th Băng thông
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
            tr
              th Dung lượng
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
            tr
              th Băng thông
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
            tr
              th Dung lượng
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
            tr
              th Băng thông
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
            tr
              th Dung lượng
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
            tr
              th Băng thông
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
            tr
              th Dung lượng
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
            tr
              th Băng thông
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
            tr
              th Dung lượng
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
            tr
              th Băng thông
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500

      .table-responsive
        h4 Window
        table.table.table-bordered.table-hosting
          thead
            tr
              th Thông số hosting 
              th Start
              th Start
              th Start
              th Start
              th Start
              th Start
              th Start
              th Start
          tbody
            tr
              th Dung lượng
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
            tr
              th Băng thông
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
            tr
              th Dung lượng
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
            tr
              th Băng thông
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
            tr
              th Dung lượng
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
            tr
              th Băng thông
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
            tr
              th Dung lượng
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
            tr
              th Băng thông
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
            tr
              th Dung lượng
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
            tr
              th Băng thông
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
            tr
              th Dung lượng
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
            tr
              th Băng thông
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
              td 500
