extends _inc

block article
  section.bread-crumb
    .container
      .bc-icons
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              a(href='index.html') Trang chủ
            li.breadcrumb-item.active Mẫu website

  section.template-page
    .container
      .left
        .category
          h4 
            | Danh mục
            i.mdi.mdi-chevron-down
          ul
            li
              a(href='mau-website.html') 
                | Website bán hàng
              span 24
            
            li
              a(href='mau-website.html') 
                | Website tin tức
              span 24
            
            li
              a(href='mau-website.html') 
                | Website diễn đàn
              span 24
            
            li
              a(href='mau-website.html') 
                | Website giới thiệu công ty
              span 24
            
            li
              a(href='mau-website.html') 
                | Website bán hàng
              span 24
            
            li
              a(href='mau-website.html') 
                | Website tin tức
              span 24
            
            li
              a(href='mau-website.html') 
                | Website diễn đàn
              span 24
            
            li
              a(href='mau-website.html') 
                | Website giới thiệu công ty
              span 24
            
            li
              a(href='mau-website.html') 
                | Website bán hàng
              span 24
            
            li
              a(href='mau-website.html') 
                | Website tin tức
              span 24
            
            li
              a(href='mau-website.html') 
                | Website diễn đàn
              span 24
            
            li
              a(href='mau-website.html') 
                | Website giới thiệu công ty
              span 24
            
      .main
        h2 Mẫu website
        p Công Ty Trí Việt luôn mong muốn được đáp ứng các yêu cầu về dịch vụ thiết kế website và cung cấp các giải pháp thiết kế website sáng tạo, uy tín chuyên nghiệp. Chúng tôi luôn mong muốn được phục vụ tốt nhất tới quý khách hàng.
        p Quý khách hàng có nhu cầu thiết kế website và muốn nhận báo giá tốt nhất về dịch vụ thiết kế website vui lòng liên hệ 028.2211.5021, hotline : 0903.636.249 hoặc quý khách có thể đặt hàng và phản hồi thông tin vào email info@triviet.net. Các chuyên viên tư vấn tại Trí Việt luôn sẵn sang hỗ trợ và giải đáp các thắc mắc của quý khách. 

        .main-template
          .row
            .col-md-6
              .box-template
                .box-template-img
                  img(src='../img/template-1.png')
                .box-template-detail
                  h4 
                    a(href='#') Website Trí Việt
                  h5 Website quảng bá doanh nghiệp
            
            .col-md-6
              .box-template
                .box-template-img
                  img(src='../img/template-2.png')
                .box-template-detail
                  h4 
                    a(href='#') Website Trí Việt
                  h5 Website quảng bá doanh nghiệp

            .col-md-6
              .box-template
                .box-template-img
                  img(src='../img/template-1.png')
                .box-template-detail
                  h4 
                    a(href='#') Website Trí Việt
                  h5 Website quảng bá doanh nghiệp
            
            .col-md-6
              .box-template
                .box-template-img
                  img(src='../img/template-2.png')
                .box-template-detail
                  h4 
                    a(href='#') Website Trí Việt
                  h5 Website quảng bá doanh nghiệp

            .col-md-6
              .box-template
                .box-template-img
                  img(src='../img/template-1.png')
                .box-template-detail
                  h4 
                    a(href='#') Website Trí Việt
                  h5 Website quảng bá doanh nghiệp
            
            .col-md-6
              .box-template
                .box-template-img
                  img(src='../img/template-2.png')
                .box-template-detail
                  h4 
                    a(href='#') Website Trí Việt
                  h5 Website quảng bá doanh nghiệp

            .col-md-6
              .box-template
                .box-template-img
                  img(src='../img/template-1.png')
                .box-template-detail
                  h4 
                    a(href='#') Website Trí Việt
                  h5 Website quảng bá doanh nghiệp
            
            .col-md-6
              .box-template
                .box-template-img
                  img(src='../img/template-2.png')
                .box-template-detail
                  h4 
                    a(href='#') Website Trí Việt
                  h5 Website quảng bá doanh nghiệp

        nav
          ul.pagination.justify-content-end
            li.page-item
              a.page-link(href='#', aria-label='Previous')
                span(aria-hidden='true') «
                span.sr-only Previous
            li.page-item
              a.page-link.active(href='#') 1
            li.page-item
              a.page-link(href='#') 2
            li.page-item
              a.page-link(href='#') 3
            li.page-item
              a.page-link(href='#', aria-label='Next')
                span(aria-hidden='true') »
                span.sr-only Next  
