extends _inc

block article
  section.bread-crumb
    .container
      .bc-icons
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              a(href='index.html') Trang chủ
            li.breadcrumb-item.active Thiết kế website

  section.design-page
    .container
      p 
        b Tại sao cần thiết kế website ?

      p Với xu thế bùng nổ về công nghệ thông tin như hiện nay, vấn đề khách hàng sử dụng internet để lựa chọn mua sản phẩm từ việc sử dụng dịch vụ internet ngày càng gia tăng và là một dịch vụ không thể thiếu trong cuộc sống hàng ngày. Đây là thị trường béo bở để quý khách quảng cáo truyền bá thông tin, truyền thông điệp về sản phẩm tới người tiêu dùng. 
        | Thiết kế website mang lại những lợi ích to lớn như: 
        | - Là kênh truyền thông nhanh nhất tới người tiêu dùng sản phẩm
        | - Quảng bá sản phẩm một cách hữu ích nhất, tiết kiệm chi phí nhất
        | - Doanh thu tăng mạnh nhờ quảng bá website trên internet.
        | Vì vậy lựa chọn công ty thiết kế website uy tín, hiệu quả truyền đạt đúng ý tưởng về nội dung thông điệp trên website cũng là nhu cầu cần thiết của khách hàng cần thiết kế website.
        | Công ty Trí Việt trân trọng gửi tới quý khách dịch vụ thiết kế website với các gói cước phù hợp với nội dung yêu cầu của quý khách.
        | Mời quý khách tham khảo gói dịch vụ thiết kế website hiện có tại công ty thiết kế website  uy tín, chuyên nghiệp Trí Việt như sau: 

      .row
        .col-md-4
          .box-design-page.text-center
            .box-design-page-img
              a(href='chi-tiet-thiet-ke-website.html')
                img(src='../img/detail-1.png')
            h4
              a(href='chi-tiet-thiet-ke-website.html') Thiết kế website trọn gói
        
        .col-md-4
          .box-design-page.text-center
            .box-design-page-img
              a(href='chi-tiet-thiet-ke-website.html')
                img(src='../img/detail-2.png')
            h4
              a(href='chi-tiet-thiet-ke-website.html') Thiết kế website theo yêu cầu
        
        .col-md-4
          .box-design-page.text-center
            .box-design-page-img
              a(href='chi-tiet-thiet-ke-website.html')
                img(src='../img/detail-3.png')
            h4
              a(href='chi-tiet-thiet-ke-website.html') Thiết kế website bán hàng
        
        