<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Siêu thị ghế văn phòng Thanh Thúy</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/mdb.min.css"/>
    <link rel="stylesheet" href="../css/materialdesignicons.min.css"/>
    <link rel="stylesheet" href="../css/layout.css"/>
    <link rel="shortcut icon" href="../img/favicon.png"/>
  </head>
  <body>
    <div class="go-top" title="Lên đầu trang"><span></span><span></span></div>
    <div class="overlay-menu"></div>
    <div class="menu">
      <div class="toggleMenu"><i class="mdi mdi-menu"></i></div>
      <ul class="nav">
        <div class="nav-close"><i class="mdi mdi-close"></i></div>
        <li class="nav-item"><a href="index.html">Trang chủ</a></li>
        <li class="nav-item"><a href="gioi-thieu.html">Giới thiệu</a></li>
        <li class="nav-item"><a href="thiet-ke-website.html">Thiết kế website</a></li>
        <li class="nav-item"><a href="ten-mien.html">Tên miền</a></li>
        <li class="nav-item"><a href="hosting.html">Hosting</a></li>
        <li class="nav-item"><a href="email.html">Email</a></li>
        <li class="nav-item"><a href="quang-cao-website.html">Quảng cáo website</a></li>
        <li class="nav-item"><a href="mau-website.html">Mẫu website</a></li>
        <li class="nav-item"><a href="lien-he.html">Liên hệ</a></li>
      </ul>
      <div class="logo"><img class="logo-black" src="../img/logo-black.png"/></div>
      <div class="order"><a href="lien-he.html">Đặt làm web ngay</a></div>
    </div>
    <article>
      <section class="bread-crumb">
        <div class="container">
          <div class="bc-icons">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                <li class="breadcrumb-item active">Giới thiệu</li>
              </ol>
            </nav>
          </div>
        </div>
      </section>
      <section class="page-text">
        <div class="container"> 
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat neque assumenda molestias? Natus molestias eligendi repellendus molestiae! Aperiam ipsa ullam, nemo eos praesentium optio, itaque consequuntur iste repellendus quam quidem.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat neque assumenda molestias? Natus molestias eligendi repellendus molestiae! Aperiam ipsa ullam, nemo eos praesentium optio, itaque consequuntur iste repellendus quam quidem.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat neque assumenda molestias? Natus molestias eligendi repellendus molestiae! Aperiam ipsa ullam, nemo eos praesentium optio, itaque consequuntur iste repellendus quam quidem.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat neque assumenda molestias? Natus molestias eligendi repellendus molestiae! Aperiam ipsa ullam, nemo eos praesentium optio, itaque consequuntur iste repellendus quam quidem.</p>
        </div>
      </section>
    </article>
    <section class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="info"><img src="../img/logo.png"/>
              <p>Aliquam in bibendum mauris. Sed vitae erat vel velit blandit pharetra vitae nec ante. Cras at est augue. Cras ut interdum elit. Ut malesuada a urna sit amet blandit. Nullam nunc lorem, aliquam at eros laoreet, feugiat bibendum ligula. Aenean congue, massa id aliquet semper, ligula ante </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="contact">
              <h4>
                 thông tin liên hệ<i class="mdi mdi-chevron-down d-block d-sm-none"></i></h4>
              <ul>
                <li><i class="mdi mdi-map-outline"></i>311 K13 Đường 8, KP 1, P. An Phú, Q2, TP. HCM</li>
                <li><i class="mdi mdi-deskphone"></i>0917 681 909</li>
                <li><i class="mdi mdi-email-outline"></i>kinhdoanh@triviet.net </li>
                <li><i class="mdi mdi-note-outline"></i>Mã số thuế: 0304.93 23 71</li>
                <li><i class="mdi mdi-calendar-star"></i>Thành lập ngày 12/04/2007</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-6">
            <div class="about">
              <h4>
                 Dịch vụ<i class="mdi mdi-chevron-down d-block d-sm-none"></i></h4>
              <ul>
                <li><a href="gioi-thieu.html">Thiết kế website</a></li>
                <li><a href="huong-dan-mua-hang.html">Tên miền</a></li>
                <li><a href="thong-tin.html">Hosting</a></li>
                <li><a href="khuyen-mai.html">Email</a></li>
                <li><a href="lien-he.html">Quảng cáo website</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-6">
            <div class="policy">
              <h4>
                 về chúng tôi<i class="mdi mdi-chevron-down d-block d-sm-none"></i></h4>
              <ul>
                <li><a href="chinh-sach.html">Giới thiệu</a></li>
                <li><a href="chinh-sach.html">Liên hệ</a></li>
                <li><a href="chinh-sach.html">Chính sách thanh toán</a></li>
                <li><a href="chinh-sach.html">Chính sách bảo mật</a></li>
                <li><a href="chinh-sach.html">Thỏa thuận sử dụng</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/mdb.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/layout.js"></script>
  </body>
</html>