<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>TRÍ VIỆT</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/mdb.min.css"/>
    <link rel="stylesheet" href="../css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="../css/owl.theme.default.min.css"/>
    <link rel="stylesheet" href="../css/materialdesignicons.min.css"/>
    <link rel="stylesheet" href="../css/animate.min.css "/>
    <link rel="stylesheet" href="../css/index.css"/>
    <link rel="shortcut icon" href="../img/favicon.png"/>
  </head>
  <body>
    <div class="overlay-menu"></div>
    <ul class="pagination">
      <li><a class="active" href="#about"><span class="hover-text">Giới thiệu</span></a></li>
      <li><a href="#design"><span class="hover-text">Thiết kế website</span></a></li>
      <li><a href="#seo"><span class="hover-text">Quảng cáo website</span></a></li>
      <li><a href="#hosting"><span class="hover-text">Tên miền - Hosting</span></a></li>
      <li><a href="#template"><span class="hover-text">Mẫu website</span></a></li>
      <li><a href="#contact"><span class="hover-text">Liên hệ</span></a></li>
    </ul>
    <div class="menu">
      <div class="toggleMenu"><i class="mdi mdi-menu"></i></div>
      <ul class="nav">
        <div class="nav-close"><i class="mdi mdi-close"></i></div>
        <li class="nav-item"><a href="index.html">Trang chủ</a></li>
        <li class="nav-item"><a href="gioi-thieu.html">Giới thiệu</a></li>
        <li class="nav-item"><a href="thiet-ke-website.html">Thiết kế website</a></li>
        <li class="nav-item"><a href="ten-mien.html">Tên miền</a></li>
        <li class="nav-item"><a href="hosting.html">Hosting</a></li>
        <li class="nav-item"><a href="email.html">Email</a></li>
        <li class="nav-item"><a href="quang-cao-website.html">Quảng cáo website</a></li>
        <li class="nav-item"><a href="mau-website.html">Mẫu website</a></li>
        <li class="nav-item"><a href="lien-he.html">Liên hệ</a></li>
      </ul>
      <div class="logo"><img class="logo-white" src="../img/logo.png"/><img class="logo-black d-none" src="../img/logo-black.png"/></div>
      <div class="order"><a href="lien-he.html">Đặt làm web ngay</a></div>
    </div>
    <section class="one-page about" data-section-name="about">
      <div class="about-zone">
        <h1 class="wow fadeInUp">CHÀO MỪNG BẠN ĐẾN VỚI</h1>
        <p class="wow fadeInUp" data-wow-delay=".3s">THIẾT KẾ WEBSITE TRÍ VIỆT</p>
        <h4 class="wow fadeInUp" data-wow-delay=".6s">Qua hơn 12 năm hình thành và phát triển, chúng tôi tự hào đã xây dựng khoảng hơn 500 trang web cho tất cả các lĩnh vực như: Kiến trúc - xây dựng, giáo dục, y tế, sản xuất thương mại và dịch vụ tại Việt Nam.</h4>
        <div class="service">
          <div class="box-service wow bounceInUp" data-wow-delay="1s">
            <div class="box-service-img"><img src="../img/about-1.png"/></div>
            <h4>Thiết kế website với quy trình chuyên nghiệp</h4>
          </div>
          <div class="box-service wow bounceInUp" data-wow-delay="1.2s">
            <div class="box-service-img"><img src="../img/about-2.png"/></div>
            <h4>Tư vấn và cung cấp tên miền, hosting</h4>
          </div>
          <div class="box-service wow bounceInUp" data-wow-delay="1.4s">
            <div class="box-service-img"><img src="../img/about-3.png"/></div>
            <h4>Quảng cáo Website trên Google Adword</h4>
          </div>
        </div>
      </div>
    </section>
    <section class="one-page design" data-section-name="design">
      <div class="design-zone">
        <div class="title-page wow flipInX">
          <h1>THIẾT KẾ WEBSITE</h1>
        </div>
        <div class="design-in">
          <div class="progress-zone wow fadeIn" data-wow-delay=".5s">
            <h3>CÔNG NGHỆ CỦA CHÚNG TÔI SỬ DỤNG</h3>
            <p>Etiam elementum euismod commodo. Proin eleifend eget quam ut efficitur. Mauris a accumsan mauris. Phasellus egestas et risus sit amet hendrerit. Nulla facilisi. Cras urna sem, vulputate sed condimentum a, posuere vel enim.</p>
            <div class="box-progress">
              <div class="skill">ADOBE PHOTOSHOP & ADOBE XD<span>90%</span></div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 0" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="box-progress">
              <div class="skill">HTML5 & CSS3 (Responsive)<span>95%</span></div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 0" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="box-progress">
              <div class="skill">JAVASCRIPT (jQuery)<span>80%</span></div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 0" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="box-progress">
              <div class="skill">PHP<span>90%</span></div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 0" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
          <div class="design-right wow fadeInUp" data-wow-delay="3s">
            <div class="design-icon design-icon-1"><img src="../img/design-1.png"/>
              <div class="design-detail">
                <h5> <a href="thiet-ke-website.html">THIẾT KẾ WEBSITE TRỌN GÓI</a></h5>
                <h6>Duis mauris augue, eficitur eu arcu sit amet, posuere dignissim neque. Aenan eim sem, pharetra et magna sit amet, luctus alquet nibh. Curabitur auctor leo et libero consectetur gravida. Morbi gravida et sem dictum varius. Proin eget viverra sem, non euismod est. Aenean enim    </h6>
              </div>
            </div>
            <div class="design-icon design-icon-2"><img src="../img/design-2.png"/>
              <div class="design-detail">
                <h5> <a href="thiet-ke-website.html">THIẾT KẾ WEBSITE THEO YÊU CẦU</a></h5>
                <h6>Duis mauris augue, eficitur eu arcu sit amet, posuere dignissim neque. Aenan eim sem, pharetra et magna sit amet, luctus alquet nibh. Curabitur auctor leo et libero consectetur gravida. Morbi gravida et sem dictum varius. Proin eget viverra sem, non euismod est. Aenean enim    </h6>
              </div>
            </div>
            <div class="design-icon design-icon-1"><img src="../img/design-3.png"/>
              <div class="design-detail">
                <h5> <a href="thiet-ke-website.html">THIẾT KẾ WEBSITE BÁN HÀNG</a></h5>
                <h6>Duis mauris augue, eficitur eu arcu sit amet, posuere dignissim neque. Aenan eim sem, pharetra et magna sit amet, luctus alquet nibh. Curabitur auctor leo et libero consectetur gravida. Morbi gravida et sem dictum varius. Proin eget viverra sem, non euismod est. Aenean enim    </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="one-page seo" data-section-name="seo">
      <div class="seo-zone">
        <div class="title-page wow flipInX">
          <h1>quảng cáo website</h1>
        </div>
        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <div class="box-seo text-right wow fadeInUp" data-wow-delay="1s">
              <h5><span>Quảng cáo Google Adwords là gì?</span><img src="../img/icon-seo.png"/></h5>
              <h6>Là dịch vụ quảng cáo trực tuyến của Google. Được khách hàng nhìn thấy vào đúng thời điểm họ đang tìm kiếm trên Google những thứ bạn cung cấp. Và chỉ trả tiền khi họ nhấp để truy cập trang web hoặc gọi cho bạn.</h6>
            </div>
            <div class="box-seo text-right wow fadeInUp" data-wow-delay="1.3s">
              <h5><span>Tại sao phải quảng cáo ?</span><img src="../img/icon-seo.png"/></h5>
              <h6>Quảng cáo Google Adwords giúp quý khách tăng cao về doanh số, tiếp cận nhanh tới các khách hàng tiềm năng. Thông qua Google Adwords, dịch vụ sản phẩm của quý khách luôn đứng trên trang 1 google.com, website với 95% người sử dụng internet dùng để tìm kiếm</h6>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 d-none d-lg-block wow fadeInUp" data-wow-delay=".5s"><img src="../img/bg-seo.png"/></div>
          <div class="col-lg-4 col-sm-6">
            <div class="box-seo text-left wow fadeInUp" data-wow-delay="1.6s">
              <h5><img src="../img/icon-seo.png"/><span>Lợi ích của Google Adwords là gì?</span></h5>
              <h6>Google Adwords sẽ giúp quảng cáo của bạn sẽ hiển thị ngay ở những vị trí đầu tiên trên trang kết quả khi khách hàng tìm kiếm từ khóa về sản phẩm/dịch vụ mà bạn cung cấp, hoặc xuất hiện trên các trang mạng khi người dùng lướt web mỗi ngày</h6>
            </div>
            <div class="box-seo text-left wow fadeInUp" data-wow-delay="1.9s">
              <h5><img src="../img/icon-seo.png"/><span>Chi phí quảng cáo cao không ?</span></h5>
              <h6>Google Adwords không tính phí bạn cho việc hiển thị quảng cáo. Thay vào đó, bạn chỉ trả tiền khi có người nhấp vào quảng cáo của bạn, Nhấp vào website hoặc gọi cho doanh nghiệp của bạn.</h6>
            </div>
          </div>
        </div>
        <div class="seo-all text-center wow fadeIn" data-wow-delay="2.5s"><a href="quang-cao-website.html">Xem chi tiết ngay</a></div>
      </div>
    </section>
    <section class="one-page hosting" data-section-name="hosting">
      <div class="hosting-img"><img src="../img/bg-hosting.png"/></div>
      <div class="domain-btn">
        <h1 title="Nhấp để tìm hiểu">Tên miền</h1><img src="../img/click.gif"/>
      </div>
      <div class="hosting-btn">
        <h1 title="Nhấp để tìm hiểu">Hosting</h1><img src="../img/click.gif"/>
      </div>
      <div class="hosting-zone">
        <div class="left active">
          <div class="box-hosting">
            <h1>dịch vụ đăng ký tên miền</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus fugiat excepturi dolores reprehenderit doloribus laborum, culpa dolor, nostrum tempore assumenda perferendis voluptatem repudiandae itaque, iste corporis! Officiis harum ducimus exercitationem?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus fugiat excepturi dolores reprehenderit doloribus laborum, culpa dolor, nostrum tempore assumenda perferendis voluptatem repudiandae itaque, iste corporis! Officiis harum ducimus exercitationem?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus fugiat excepturi dolores reprehenderit doloribus laborum, culpa dolor, nostrum tempore assumenda perferendis voluptatem repudiandae itaque, iste corporis! Officiis harum ducimus exercitationem?</p>
            <div class="box-hosting-btn">    <a href="ten-mien.html">Tìm hiểu rõ hơn</a></div>
          </div>
        </div>
        <div class="right">
          <div class="box-hosting">
            <h1>dịch vụ đăng ký hosting</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus fugiat excepturi dolores reprehenderit doloribus laborum, culpa dolor, nostrum tempore assumenda perferendis voluptatem repudiandae itaque, iste corporis! Officiis harum ducimus exercitationem?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus fugiat excepturi dolores reprehenderit doloribus laborum, culpa dolor, nostrum tempore assumenda perferendis voluptatem repudiandae itaque, iste corporis! Officiis harum ducimus exercitationem?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus fugiat excepturi dolores reprehenderit doloribus laborum, culpa dolor, nostrum tempore assumenda perferendis voluptatem repudiandae itaque, iste corporis! Officiis harum ducimus exercitationem?</p>
            <div class="box-hosting-btn"><a href="hosting.html">Tìm hiểu rõ hơn</a></div>
          </div>
        </div>
      </div>
    </section>
    <section class="one-page template" data-section-name="template">
      <div class="template-zone">
        <div class="title-page">
          <h1>MỘT SỐ MẪU WEBSITE NỔI BẬT</h1>
        </div>
        <div class="owl-carousel template-carousel owl-theme">
          <div class="item">
            <div class="box-template">
              <div class="box-template-mouse"><img src="../img/mouse.gif"/></div>
              <div class="box-template-img"><a href="http://acesport.net/" title="Nhấp để truy cập trang"><img src="../img/template-2.png"/></a></div>
              <div class="box-template-detail">
                <h2>DIỄN ĐÀN ACE SPORT</h2>
                <h5>Website diễn đàn tennis</h5>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box-template">
              <div class="box-template-mouse"><img src="../img/mouse.gif"/></div>
              <div class="box-template-img"><a href="http://acesport.net/" title="Nhấp để truy cập trang"><img src="../img/template-1.png"/></a></div>
              <div class="box-template-detail">
                <h2>DIỄN ĐÀN ACE SPORT</h2>
                <h5>Website diễn đàn tennis</h5>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box-template">
              <div class="box-template-mouse"><img src="../img/mouse.gif"/></div>
              <div class="box-template-img"><a href="http://acesport.net/" title="Nhấp để truy cập trang"><img src="../img/template-3.png"/></a></div>
              <div class="box-template-detail">
                <h2>DIỄN ĐÀN ACE SPORT</h2>
                <h5>Website diễn đàn tennis          </h5>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box-template">
              <div class="box-template-mouse"><img src="../img/mouse.gif"/></div>
              <div class="box-template-img"><a href="http://acesport.net/" title="Nhấp để truy cập trang"><img src="../img/template-1.png"/></a></div>
              <div class="box-template-detail">
                <h2>DIỄN ĐÀN ACE SPORT</h2>
                <h5>Website diễn đàn tennis</h5>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box-template">
              <div class="box-template-mouse"><img src="../img/mouse.gif"/></div>
              <div class="box-template-img"><a href="http://acesport.net/" title="Nhấp để truy cập trang"><img src="../img/template-2.png"/></a></div>
              <div class="box-template-detail">
                <h2>DIỄN ĐÀN ACE SPORT</h2>
                <h5>Website diễn đàn tennis</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="template-all text-center"><a href="mau-website.html">Xem tất cả mẫu</a></div>
      </div>
    </section>
    <section class="one-page contact" data-section-name="contact">
      <div class="contact-zone"> 
        <div class="title-page">
          <h1>LIÊN HỆ VỚI CHÚNG TÔI</h1>
          <h5>Nếu bạn có nhu cầu đặt làm website hoặc thắc mắc cần giải đáp</h5>
        </div>
        <form class="text-center">
          <input type="text" placeholder="Họ tên"/>
          <input type="text" placeholder="Số điện thoại"/>
          <input type="text" placeholder="Email"/>
          <textarea placeholder="Lời nhắn"></textarea>
          <button>gửi liên hệ</button>
        </form>
        <h6 class="text-center">Hoặc liên hệ trực tiếp</h6>
        <ul> 
          <li><i class="mdi mdi-map-marker-outline"></i>311 K13 Đường 8, KP 1, P. An Phú, Q2, TP. HCM</li>
          <li><i class="mdi mdi-deskphone"></i>0917 681 909</li>
          <li><i class="mdi mdi-email-outline"></i>kinhdoanh@triviet.net</li>
        </ul>
      </div>
    </section>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/mdb.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/jquery.scrollify.js"></script>
    <script src="../js/wow.min.js"></script>
    <script src="../js/index.js"></script>
  </body>
</html>