<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>TRÍ VIỆT</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/mdb.min.css"/>
    <link rel="stylesheet" href="../css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="../css/owl.theme.default.min.css"/>
    <link rel="stylesheet" href="../css/materialdesignicons.min.css"/>
    <link rel="stylesheet" href="../css/animate.min.css "/>
    <link rel="stylesheet" href="../css/index.css"/>
    <link rel="shortcut icon" href="../img/favicon.png"/>
  </head>
  <body>
    <ul class="pagination">
      <li><a class="active" href="#about"><span class="hover-text">Giới thiệu</span></a></li>
      <li><a href="#design"><span class="hover-text">Thiết kế website</span></a></li>
      <li><a href="#seo"><span class="hover-text">Quảng cáo website</span></a></li>
      <li><a href="#hosting"><span class="hover-text">Tên miền - Hosting</span></a></li>
      <li><a href="#template"><span class="hover-text">Mẫu website</span></a></li>
      <li><a href="#contact"><span class="hover-text">Liên hệ</span></a></li>
    </ul>
    <div class="menu"><a class="toggleMenu ssm-toggle-nav"><i class="mdi mdi-menu"></i></a>
      <ul class="nav">
        <div class="nav-close"><i class="mdi mdi-close d-block d-sm-none"></i></div>
        <li class="nav-item"><a href="index.html">Trang chủ</a></li>
        <li class="nav-item"><a href="gioi-thieu.html">GIỚI THIỆU</a></li>
        <li class="nav-item"><a href="thiet-ke-website.html">THIẾT KẾ WEBSITE</a></li>
        <li class="nav-item"><a href="ten-mien.html">tên miền</a></li>
        <li class="nav-item"><a href="hosting.html">hosting</a></li>
        <li class="nav-item"><a href="email.html">email</a></li>
        <li class="nav-item"><a href="quang-cao-website.html">quảng cáo website</a></li>
        <li class="nav-item"><a href="mau-website.html">mẫu website</a></li>
        <li class="nav-item"><a href="lien-he.html">liên hệ</a></li>
      </ul>
      <div class="logo"><img src="../img/logo.png"/></div>
      <div class="order"><a href="#contact">Đặt làm web ngay</a></div>
    </div>
    <section class="one-page about" data-section-name="about">
      <h1 class="text-center">hello</h1>
    </section>
    <section class="one-page design" data-section-name="design">
      <h1 class="text-center">hello</h1>
    </section>
    <section class="one-page seo" data-section-name="seo">
      <h1 class="text-center">hello</h1>
    </section>
    <section class="one-page hosting" data-section-name="hosting">
      <h1 class="text-center">hello</h1>
    </section>
    <section class="one-page template" data-section-name="template">
      <h1 class="text-center">hello</h1>
    </section>
    <section class="one-page contact" data-section-name="contact">
      <h1 class="text-center">hello</h1>
    </section>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/mdb.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/jquery.scrollify.js"></script>
    <script src="../js/jquery-image-scroll.js"></script>
    <script src="../js/wow.min.js"></script>
    <script src="../js/index.js"></script>
  </body>
</html>