<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Siêu thị ghế văn phòng Thanh Thúy</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/mdb.min.css"/>
    <link rel="stylesheet" href="../css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="../css/owl.theme.default.min.css"/>
    <link rel="stylesheet" href="../css/materialdesignicons.min.css"/>
    <link rel="stylesheet" href="../css/animate.min.css "/>
    <link rel="stylesheet" href="../css/index.css"/>
    <link rel="shortcut icon" href="../img/favicon.png"/>
  </head>
  <body>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/mdb.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/jquery.scrollify.js"></script>
    <script src="../js/jquery-image-scroll.js"></script>
    <script src="../js/index.js"></script>
  </body>
</html>